<div class="container-sm">
  <h1>Selected items</h1>
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let item of cartItems" class="spaced-item">
        <div matLine>{{ item.name }}</div>
        <div matLine>{{ item.price | currency : "CHF " }}</div>
      </mat-list-item>

      <mat-list-item>
        <span class="price" matListItemTitle>Total:</span>
        <span class="price" matListItemLine>{{
          totalPrice | currency : "CHF "
        }}</span>
      </mat-list-item>
      <mat-list-item class="text-right">
        <button mat-flat-button (click)="clearCart()">Clear</button>
      </mat-list-item>
      <mat-list-item class="text-right">
        <button mat-raised-button color="accent" (click)="checkOutCart()">Checkout</button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
